<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clever Criterion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">

</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/topics">Home</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/topics/new">Create New Topic</a></li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-7 small-8 columns">
            <input type="text" placeholder="Find Tag">
          </div>
          <div class="large-5 small-4 columns">
            <a href="/" class="alert button expand">Search Tags</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="right">
      <li class="active"><a href="#" data-reveal-id="myModal">Set Username</a></li>
    </ul>
  </section>
</nav>

<% topics.forEach(function(topic){%>
  <h1><%= topic.title%></h1> <p style="display:inline-block;"><%= topic.votes%></p>
  <p><%= topic.username%></p>
<%})%>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Set Your Username</h2>
  <input type="text" class="username">
  <button class="usr-button">Set Username</button>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/foundation.min.js"></script>
<script src="/home.js"></script>
<script>
  $(document).foundation();
</script>

</body>
</html>